[submodule "lvgl"]
	path = lvgl
	url = https://github.com/PhageStudioEscreen/lvgl.git
	branch = release/v9.2
[submodule "modules/cherryrb"]
	path = modules/cherryrb
	url = https://github.com/cherry-embedded/CherryRB.git
